
**/keystore.p12
**/*.p12
**/*.jks
**/*.pem
**/*.key
.env
.env.*
!.env.example
**/realm-export.json

.git
.gitattributes
.gitignore
.gitmodules
**/.gradle
**/build
**/out
**/bin
**/target
**/node_modules
**/dist

.idea
.vscode
**/*.iml
**/*.iws
**/*.ipr
**/.springBeans
**/.classpath
**/.project
**/.settings
**/.factorypath

HELP.md
ToDo.md
.aiignore
.claude

**/build/reports
**/build/test-results
**/logs
**/*.log
**/*.log.zip
log.txt

**/src/test
**/src/e2e
