POSTGRES_DB=krt_basetool
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME

KC_POSTGRES_DB=keycloak
KC_POSTGRES_USER=CHANGE_ME
KC_POSTGRES_PASSWORD=CHANGE_ME

KC_BOOTSTRAP_ADMIN_USERNAME=CHANGE_ME
KC_BOOTSTRAP_ADMIN_PASSWORD=CHANGE_ME

KEYCLOAK_ADMIN_CLIENT_SECRET=CHANGE_ME

SERVER_SSL_KEY_STORE_PASSWORD=CHANGE_ME

IRI_KEYSTORE_HOST_PATH=/var/iri/secrets/keystore.p12

REDIS_PASSWORD=CHANGE_ME

IRI_IMAGE_NAMESPACE=krt-profit

EDGE_HOST_FRONTEND=profit-base.online
EDGE_HOST_INGEST=ingest.profit-base.online
EDGE_HOST_GRAFANA=grafana.profit-base.online
EDGE_HOST_API=api.profit-base.online

EDGE_TRUSTED_PROXY=172.28.15.10 172.28.3.250 172.28.4.250 172.28.7.250 172.28.11.250 172.28.13.250

ACME_HOSTS=profit-base.online ingest.profit-base.online grafana.profit-base.online api.profit-base.online
ACME_EMAIL=CHANGE_ME
