config.stopBubbling = true

lombok.addLombokGeneratedAnnotation = true

lombok.addNullAnnotations = jetbrains

lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.custom.flagUsage = ERROR
lombok.log.flogger.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.log4j2.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR

lombok.log.fieldName = log
lombok.log.fieldIsStatic = true
