server {
  listen 8443 ssl ${EDGE_LISTEN_OPTS};
  listen [::]:8443 ssl ${EDGE_LISTEN_OPTS};
  http2 on;
  server_name ${EDGE_HOST_INGEST};

  ssl_certificate     /etc/nginx/certs/${EDGE_HOST_INGEST}/fullchain.pem;
  ssl_certificate_key /etc/nginx/certs/${EDGE_HOST_INGEST}/privkey.pem;
  include /etc/nginx/edge/include/ssl.conf;

  add_header Strict-Transport-Security $hsts_header always;

  include /etc/nginx/edge/include/hardening.conf;
  include /etc/nginx/edge/include/limits.conf;
  include /etc/nginx/edge/include/maintenance.conf;

  client_max_body_size 2m;

  location /actuator { return 404; }

  location / {
    include /etc/nginx/edge/include/proxy.conf;
    include /etc/nginx/edge/include/upstream-tls.conf;
    proxy_ssl_name                ingest;
    set $upstream_host ingest;
    proxy_pass https://$upstream_host:11262$request_uri;
  }
}
