server {
  listen 8443 ssl ${EDGE_LISTEN_OPTS};
  listen [::]:8443 ssl ${EDGE_LISTEN_OPTS};
  http2 on;
  server_name ${EDGE_HOST_GRAFANA};

  ssl_certificate     /etc/nginx/certs/${EDGE_HOST_GRAFANA}/fullchain.pem;
  ssl_certificate_key /etc/nginx/certs/${EDGE_HOST_GRAFANA}/privkey.pem;
  include /etc/nginx/edge/include/ssl.conf;

  add_header Strict-Transport-Security $hsts_header always;

  include /etc/nginx/edge/include/hardening.conf;
  include /etc/nginx/edge/include/limits.conf;
  include /etc/nginx/edge/include/maintenance.conf;

  location / {
    include /etc/nginx/edge/include/proxy.conf;
    ${EDGE_GRAFANA_UPSTREAM_TLS}
    set $upstream_host grafana;
    proxy_pass https://$upstream_host:3000$request_uri;
  }
}
