@layer base, components, page, migration, utilities;

@layer page {
    .data-section {
        margin-bottom: 3rem;
    }
    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
    .form-group input:where(:not([type='checkbox']):not([type='radio'])),
    .form-group select,
    .form-group textarea {
        width: 100%;
        padding: 0.5rem;
        background-color: var(--color-surface-input);
        border: 1px solid var(--color-gray-3);
        color: var(--color-gray-1);
        font-family: var(--font-body);
        box-sizing: border-box;
    }
}
