@layer base, components, page, utilities;

@layer page {
    .operations-table .operations-desc {
        max-width: 60ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (width <= 768px) {
        .operations-table .operations-desc {
            display: -webkit-box;
            max-width: none;
            white-space: normal;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }
}
