{{ ansible_managed | comment }}

[DEFAULT]
banaction = firewallcmd-rich-rules
banaction_allports = firewallcmd-rich-rules

backend = systemd

ignoreip = {{ basetool_host_fail2ban_ignoreip | join(' ') }}

maxretry = {{ basetool_host_fail2ban_maxretry }}
findtime = {{ basetool_host_fail2ban_findtime }}
bantime  = {{ basetool_host_fail2ban_bantime }}

bantime.increment = true
bantime.factor    = 2
bantime.maxtime   = {{ basetool_host_fail2ban_maxtime }}

allowipv6 = auto

logtarget = /var/log/fail2ban.log
loglevel  = INFO

[sshd]
enabled = true
port    = ssh
