{{ ansible_managed | comment }}

global
    log         /dev/log local0
    maxconn     {{ basetool_host_frontend_maxconn }}
    user        haproxy
    group       haproxy
    daemon

defaults
    mode        tcp
    log         global
    option      tcplog
    option      dontlognull
    timeout connect {{ basetool_host_frontend_timeout_connect }}
    timeout client  {{ basetool_host_frontend_timeout_client }}
    timeout server  {{ basetool_host_frontend_timeout_server }}

{% for entry in basetool_host_frontend_ports %}
frontend fe_edge_{{ entry.public }}
    bind 0.0.0.0:{{ entry.public }}
    bind [::]:{{ entry.public }} v6only
    default_backend be_edge_{{ entry.public }}

backend be_edge_{{ entry.public }}
    server edge 127.0.0.1:{{ entry.backend }} send-proxy-v2
{% endfor %}
