<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="band">
    <aside class="krt-fankit-band">
        <img class="krt-fankit-logo"
             th:src="@{/images/made-by-the-community.png}"
             th:alt="#{fankit.logo.alt}" alt="Made By The Community"
             width="36" height="36"
             loading="lazy" decoding="async">
        <span class="krt-fankit-trademark" th:text="#{fankit.trademark}">Star Citizen®, Roberts Space Industries® and Cloud Imperium ® are registered trademarks of Cloud Imperium Rights LLC</span>
        <p class="krt-fankit-disclaimer" th:text="#{fankit.disclaimer}">This site is not endorsed by or affiliated with the Cloud Imperium or Roberts Space Industries group of companies. All game content and materials are copyright Cloud Imperium Rights LLC and Cloud Imperium Rights Ltd.. Star Citizen®, Squadron 42®, Roberts Space Industries®, and Cloud Imperium® are registered trademarks of Cloud Imperium Rights LLC. All rights reserved.</p>
    </aside>
</th:block>
</body>
</html>
