<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
<body>
<header th:fragment="header">
    <nav>
        <button id="hamburger" class="hamburger-btn" type="button" th:aria-label="#{a11y.nav.menu}">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a th:href="@{/}" class="brand">
            <img th:src="@{/logos/basetool-logo.svg}" alt="" height="50">
            <span class="logo-text" th:text="${appTitle}">Profit Basetool</span>
        </a>
    </nav>
</header>
</body>
</html>
