<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="unsavedModal">
    <th:block th:replace="~{fragments/modal-wrapper :: modal(modalId='unsaved-changes-modal', titleKey='unsaved.modal.title', closeId='unsaved-close-btn', closeTrigger='', body=~{fragments/unsaved-modal :: unsaved-changes-modal-body})}">
        <th:block th:ref="unsaved-changes-modal-body">
            <div class="krt-modal-body">
                <p th:text="#{unsaved.modal.message}" class="m-0">Du hast ungespeicherte Änderungen. Möchtest du die Seite wirklich verlassen und die Änderungen verwerfen?</p>
            </div>
            <div class="krt-modal-foot">
                <button type="button" id="unsaved-leave-btn" class="btn btn-secondary" th:text="#{unsaved.modal.btn.leave}">Ohne Speichern verlassen</button>
                <button type="button" id="unsaved-stay-btn" class="btn" th:text="#{unsaved.modal.btn.stay}">Zurück</button>
            </div>
        </th:block>
    </th:block>
</th:block>
</body>
</html>
