<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale.language}" lang="de">
<head th:replace="~{fragments/head :: head(titleContent=~{::title}, additionalLinks=~{::extraLinks})}">
    <title th:text="${appTitle} + ' - ' + #{appLink.title}">Profit Basetool - App-Link</title>
    <th:block th:fragment="extraLinks">
        <link rel="stylesheet" th:href="@{/css/pages/app-link-help.css}">
    </th:block>
</head>
<body>
<th:block th:replace="~{fragments/sidebar :: sidebar}" />

<th:block th:replace="~{fragments/header :: header}" />
<main>
    <th:block th:replace="~{fragments/page-head :: pageHead(titleText=#{appLink.title}, actions=~{::app-link-actions})}">
        <th:block th:ref="app-link-actions">
            <a th:href="@{/}" class="btn btn--cta" data-testid="app-link-back" th:text="#{appLink.back}">Zur Web-App</a>
        </th:block>
    </th:block>

    <div class="stack app-link-help">
        <section class="card" data-testid="app-link-intro">
            <p class="lead" th:text="#{appLink.intro}">Die Anmeldung der App wurde im Browser ge&ouml;ffnet.</p>
            <p class="app-link-reassurance" th:text="#{appLink.reassurance}">Es ist nichts kaputt und es fehlt nichts.</p>
        </section>

        <div class="grid-auto app-link-cards">
            <section class="card" data-testid="app-link-android">
                <h2 class="card-title" th:text="#{appLink.android.title}">Auf dem Handy wieder einschalten</h2>
                <ol class="app-link-steps">
                    <li th:text="#{appLink.android.step1}">Einstellungen &ouml;ffnen.</li>
                    <li th:text="#{appLink.android.step2}">Standardm&auml;&szlig;ig &ouml;ffnen w&auml;hlen.</li>
                    <li th:text="#{appLink.android.step3}">Unterst&uuml;tzte Links aktivieren.</li>
                    <li th:text="#{appLink.android.step4}">Anmeldung erneut starten.</li>
                </ol>
            </section>

            <section class="card" data-testid="app-link-desktop">
                <h2 class="card-title" th:text="#{appLink.desktop.title}">Am Rechner</h2>
                <p th:text="#{appLink.desktop.text}">Hier gibt es keine App, die diese Adresse &uuml;bernehmen kann.</p>
            </section>
        </div>
    </div>
</main>
</body>
</html>
