<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale.language}" lang="de">
<head th:replace="~{fragments/head :: head(titleContent=~{::title}, additionalLinks=~{})}">
    <title th:text="${appTitle} + ' - ' + ${terms.title}">Profit Basetool - Nutzungsbedingungen</title>
</head>
<body>
<th:block th:replace="~{fragments/sidebar :: sidebar}" />

<header>
    <nav>
        <button id="hamburger" class="hamburger-btn" type="button" th:aria-label="#{a11y.nav.menu}">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a th:href="@{/}" class="brand">
            <img th:src="@{/logos/basetool-logo.svg}" alt="" height="50">
            <span class="logo-text" th:text="${appTitle}">Profit Basetool</span>
        </a>
    </nav>
</header>
<main>
    <div class="hud-box mt-2">
        <h1 th:text="${terms.title}">Nutzungsbedingungen</h1>
        <th:block th:replace="~{fragments/terms-body :: termsBody(${terms})}" />
    </div>
</main>
</body>
</html>
